<nav class="navbar navbar-dark bg-dark shadow fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard"><img src="<%= config.vaInfo.logo ? config.vaInfo.logo : 'https://va-center.com/public/images/logo.webp'%>" height="24" class="mb-1"> <%= config.vaInfo.name%></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end bg-dark text-light" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img src="<%= config.vaInfo.logo ? config.vaInfo.logo : 'https://va-center.com/public/images/logo.webp'%>" height="24" class="mb-1"> <%= config.vaInfo.name%></h5>
                <button type="button" class="text-reset btn-dark btn" data-bs-dismiss="offcanvas"
                    aria-label="Close"><i class="bi bi-x fs-4"></i></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 px-0 pe-3 px-md-3 text-start" style="font-size: 18px">
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle d-flex" style="align-items: center; justify-content: left;" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <% if(user.profilePicture){%>
                                <img src="<%= user.profilePicture%>" alt="Profile Picture" class="rounded-circle" height="20px" width="20px" style="margin-bottom: 0.5px; box-sizing: content-box; object-fit: cover; object-position: center;">
                            <%}else{%>
                                <i class="bi bi-person-circle text-light"></i>
                            <%}%>
                            <span style="box-sizing: content-box;" class="px-2"><%= user.name%></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                            <li><a class="dropdown-item <% if(path == 'me'){ %>active<%}%>" href="/me"><i class="bi bi-file-person"></i> View Profile</a></li>
                            <li><a class="dropdown-item text-danger" href="/report"><i class="bi bi-bug-fill"></i> Report Bug</a></li>
                            <li><a class="dropdown-item <% if(path == 'loa'){ %>active<%}%>" href="/loa"><i class="bi bi-clock-history"></i> LOA</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/signout"><i class="bi bi-box-arrow-in-right"></i> Sign Out</a></li>
                        </ul>
                    </li>
                    <hr>
                    <li class="nav-item">
                        <a class="nav-link <% if(path == 'dashboard'){ %>active" aria-current="page<%}%>" href="/dashboard"><i class="bi bi-house"></i> Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <% if(path == 'acars'){ %>active" aria-current="page<%}%>" href="/acars"><i class="bi bi-robot"></i> ACARS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <% if(path == 'routes'){ %>active" aria-current="page<%}%>" href="/routes"><i class="bi bi-arrow-left-right"></i> Routes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <% if(path == 'pireps'){ %>active" aria-current="page<%}%>" href="/pireps"><i class="bi bi-archive"></i> PIREP Archive</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <% if(path == 'events'){ %>active" aria-current="page<%}%>" href="/events"><i class="bi bi-calendar-date"></i> Events</a>
                    </li>
                    <% if(user.permissions != 0){%>
                        <li class="nav-item">
                            <a class="nav-link <% if(path.slice(0,5) == 'admin'){ %>active" aria-current="page<%}%>" href="/admin"><i class="bi bi-shield-shaded"></i> Administration</a>
                        </li>
                    <%}%>
                    <hr>
                    <% config.links.forEach(link =>{%>
                        <li class="nav-item">
                            <a class="nav-link" href="#" onclick="openPage('<%= link.url %>')"><i class="bi bi-link-45deg"></i> <%= link.label%></a>
                        </li>
                    <%})%>
                </ul>
            </div>
        </div>
    </div>
</nav>